*{
    margin:0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
    background-image:url(/static/bg.jpg) ;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar{
    height: 20vh;
    width:100%;
    margin: auto;
    display: flex;
    align-items:center;
}

.logo{
    width: 700px;
    cursor: pointer;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0px 30px;
    font-size: 25px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.content h2{
    font-size: 48px;
    font-weight: 90;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content{
    margin-top: 5vh;
    width: 40%;
    float: left;
}

.content .btn{
    display: inline-block;
    background: linear-gradient(45deg,#87adfe,#ff77cd);
    border-radius: 6px;
    padding: 10px 40px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0,15);
    font-size: 25px;
    margin-left: 40%;
    margin-top: 5%;
}

.content .btn1{
    display: inline-block;
    background: linear-gradient(45deg,#c5c8cc,#72cbf8);
    border-radius: 4px;
    padding: 8px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #1b1919;
    border-color: #72cbf8;
    font-size: 20px;
    margin-left: 2%;
    margin-top: 1%;
}

.image{
    position: absolute;
    height: 60%;
    bottom: 1;
    right: 140px;
    float: right;
    margin-top: 20px;
    animation-name: slide1;
    animation-duration: 4s;
    animation-delay: 0s;
    overflow:hidden;
}
@keyframes slide1{
    0%{
        opacity: 0;
        transform:translateX(-200px);
    }
    /* 50%{
        opacity: 0.1;
        transform: translateX(-150px);
    } */
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.container2{
    height: 100vh;
    width: 100%;
    background-image:url(/static/bg2.jpg) ;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    
}

.boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6%;
    flex-direction: row;
  }
  
  .box{
    width: 27%;
    background-color: #bfeff2;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(155, 150, 150, 0.2);
    transition: transform 0.5s ease-in-out;
  }
  
  .box:hover{
    transform: translateX(-20px);
  }
  
  .box h2 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
  }
  
  .box p {
    font-size: 20px;
  }
  
.container3{
    height: 80vh;
    width: 100%;
    background-image:url(/static/bg3.jpg) ;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    
}
   
.one{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6%;
    flex-direction: row;
  }

.woimg{
    width: 35%;
    animation-name: slide;
    animation-duration: 5s;
    animation-delay: 0s;
    overflow:hidden;
    position:relative;
    margin-left: 6%;
}
@keyframes slide {
    0%{
        opacity: 0;
        transform:translateX(300px);
    }
    50%{
        opacity: 0.1;
        transform: translateX(150px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.box2{
    width: 50%;
}

/* .footer{
    height: 60vh;
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative; 
} */
.footer{
    background-color: #1b1919;
}

.abb{
    margin: auto;
    text-align: center;
    padding: 100px;
}
i{
    color: #fff;
    margin: 12px;
}

.b{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1%;
    flex-direction: row;
}

.b1{
    width: 30%;
    padding: 25px;
  }
.b2{
    width: 30%;
    padding: 25px;
  }

  
.b1 ul li{
    display:list-item;
    list-style-type: none;
    margin: 20px 30px;
    font-size: 20px;
}
.b2 ul li{
    display:list-item;
    list-style-type: none;
    margin: 20px 30px;
    font-size: 20px;
}

.b1 ul li a{
    text-decoration: none;
    color: rgb(227, 224, 224);
}

.b2 ul li a{
    text-decoration: none;
    color: rgb(227, 224, 224);
}
.b2 h1{
    color: antiquewhite;
}

#search-input{
    height: 40px;
    width: 400px;
    border-radius: 6px;
    text-align: center;
    border-top: #f6b1dd;
    border-top-right-radius: 0%;
}

#search-results {
    display: none; /* hides the search results by default */
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #search-results li {
    margin-bottom: 5px;
  }
  





  