<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINDER DESK</title>

    <link rel="stylesheet" href="../static/style2.css">
</head>


<body>

    <div class="container">
        <div class="navbar">
            <h2 class="logo">FINDER DESK</h2>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/apply">Internships</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#contact">Contact us</a></li>
                </ul>
            </nav>
        </div>


        <div>
            <div class="content">
                <h2>Looking for an Internship ?</h2>
                <p style="font-size: 30px;color: rgb(51, 52, 54);margin-top: 30px;margin-bottom: 30px;">Here you can
                    search for the best internships in your interesting field.</p>
                <br>

                <!-- <input type="text" id="search-input" placeholder="Enter here.."><button id="search-button"
                    class="btn1">Search</button>

                <div id="search-results"></div> -->
                <!-- <br>
                <br> -->


                <a href="/apply" class="btn">Apply</a>

            </div>
            <div>
                <img src="../static/woman1.jpg" alt="" class="image">
            </div>
        </div>



    </div>

    <div class="container2" id="internships">

        <div>
            <h1 style="text-align: center;padding-top: 3% ;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 40px;"
                class="internhead">Internships</h1>
        </div>

        <div class="boxes">
            <div class="box">
                <h2>Web Development</h2>
                <p>The building and maintenance of websites</p>
            </div>
            <div class="box">
                <h2>Data Analyst</h2>
                <p>A data analyst is responsible for organizing data related to sales numbers, market research, logistics, linguistics, or other behaviors.</p>
            </div>
            <div class="box">
                <h2>Flutter Developer</h2>
                <p>Building and shipping robust apps to Android/ iOS devices using a single codebase.</p>
            </div>
            <div class="box">
                <h2>Flask Development</h2>
                <p>Write modular, performant and clean code when creating web applications.</p>
            </div>
            <div class="box">
                <h2>Android Developer</h2>
                <p>A mobile app developer uses programming languages and development skills to create, test, and develop applications on mobile devices.</p>
            </div>
            <!-- <div class="box">
                <h2>Software Assistant</h2>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
            </div> -->
            <div class="box">
                <h2>Software Engineer</h2>
                <p>Their role includes analyzing and modifying existing software as well as designing, constructing and testing end-user applications</p>
            </div>
            <a href="/apply"
                style="text-decoration: none;color: brown;font-size: xx-large;font-family: Arial, Helvetica, sans-serif;margin-top: 20px;margin-right: 50px;">Many
                More >></a>

        </div>
    </div>

    <section id="about">
        <div class="container3" id="About Us">
            <div>
                <h1 style="text-align: center;padding-top: 3% ;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 40px;"
                class="internhead">About Us</h1>
            </div>
            
            <div class="one">
                
                <img src="../static/wom.jpg" class="woimg" alt="Your Image">
                
                <div class="box2">
                    <p>
                        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">This website is here to link
                            you to the <br>best Internship jobs from different sites</h1>
                            <br>
                            <p> And we provide the top listed internship offers according to your job search</p>
                        </p>
                    </div>
                    
                </div>
            </div>
    </section>
            
<section id="contact">
    <div class="footer" id="contact us">
        
        <div>
            <h1 style="text-align: center;padding-top: 3% ;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 40px;color: aliceblue;"
            class="internhead">Contact Us</h1>
        </div>
        
        
        <div class="abb">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>

        </div>
    </div>

</section>

<script src="https://kit.fontawesome.com/ef94d9cac3.js" crossorigin="anonymous"></script>

</body>

</html>